body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    font-family: 'Concert One', cursive;
    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 5rem;
        letter-spacing: .5rem;
    }
    
    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: .5rem;
    }
}